<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.lineageos.gold.statusbar" android:versionCode="2" android:versionName="2"><uses-sdk android:minSdkVersion="36" android:targetSdkVersion="36"/><application android:hasCode="false"/><overlay android:targetPackage="com.android.systemui" android:isStatic="true" android:priority="999"/></manifest>
