<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mediatek.ims.overlay.framework" android:versionCode="1" android:versionName="1.0"><uses-sdk android:minSdkVersion="29" android:targetSdkVersion="35"/><overlay android:isStatic="true" android:targetPackage="android" android:priority="98"/><application android:hasCode="false"/></manifest>